__pycache__/
data_lake/
dataset_lantam_shop/
dataset_obj_sell/*
env/
folder_data_search_image_relative_product_name/
folder_image_crop_alige/*
image_object_save/
img_sell_obj_backup/
mat_file_save/*
mat_file_save_2/*
mat_file_save_with_model_embedding_clip/*
mat_file_save_with_model_embedding_clips_relative_avatar/*
obb_datalake/*
person_detect_dataset/
result_infer_detect/
runs/
synthesis_obj_sell_data/
TensorRT-8.6.1.6/
train_results_obb/
train_results_obb2/
train_results_obb3/
train_results_obb4/
train_results_obb5/
train8_detect_sell_obj/
video_product_sell/
best_model0.pth
best_model3.pth
best_model8.pth
best_model49.pth
data_lake.zip
landmark_model.onnx
mat_file_save_2.mat
mat_file_save.mat
mnist.onnx
nv-tensorrt-local-repo-ubuntu2204-8.6.1-cuda-11.8_1.0-1_amd64.deb
obb_datalake.zip
resnet50_embedding_model.pt
TensorRT-8.6.1.6.Linux.x86_64-gnu.cuda-11.8.tar.gz
TensorRT-8.6.1.6.Linux.x86_64-gnu.cuda-12.0.tar.gz
train_results_obb.zip
train_results_obb2.zip
train_results_obb3.zip
train_results_obb4.zip
train_results_obb5.zip
yolo11n.pt
yolov8s.pt
*.jpg
*.jpeg
*.png
*.bmp