{% extends 'home.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header">
                <h3>Sửa Sản Phẩm</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Tên Sản Phẩm</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}">
                    </div>
                    <div class="mb-3">
                        <label for="cost" class="form-label">Giá (VNĐ)</label>
                        <input type="number" class="form-control" id="cost" name="cost" value="{{ product.cost }}">
                    </div>
                    <div class="mb-3">
                        <label for="image_path" class="form-label">Đường dẫn ảnh</label>
                        <input type="text" class="form-control" id="image_path" name="Image_path"
                            value="{{ product.Image_path }}">
                    </div>

                    <a href="{% url 'home' %}" class="btn btn-secondary">Hủy</a>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}